* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
  line-height: 1.4;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #333;
    color: #ddd;
  }
}

body {
  max-width: 70ch;
  margin: 0 auto;
  padding: 0.5em;
}

pre,
code {
  font-family: Menlo, Consolas, monospace;
}

a,
a:visited {
  color: inherit;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.p-lr-0-5-em {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.p-0-5-em {
  padding: 0.5em;
}

.h-1-em {
  height: 1em;
}

.ta-c {
  text-align: center;
}

.c-red {
  color: red;
}

.fw-bold {
  font-weight: bold;
}

.td-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-gray {
  background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  .bg-gray {
    background-color: #555;
  }
}

.round-corners {
  border-radius: 0.5em;
}

.resize-none {
  resize: none;
}

.d-block {
  display: block;
}

.ff-mono {
  font-family: Menlo, Consolas, monospace;
}

.fz-inherit {
  font-size: inherit;
}

.w-100 {
  width: 100%;
}

.h-20em {
  height: 20em;
}

.bg-none {
  background: none;
}

.color-inherit {
  color: inherit;
}

.p-0 {
  padding: 0;
}

.border-0 {
  border: 0;
}

.fz-1-5-em {
  font-size: 1.5em;
}

.bg-green {
  background-color: #6a6;
}

@media (prefers-color-scheme: dark) {
  .bg-green {
    background-color: #383;
  }
}

.active-bg-light-green:active {
  background-color: #8b8;
}

@media (prefers-color-scheme: dark) {
  .active-bg-light-green:active {
    background-color: #595;
  }
}

.overflow-auto {
  overflow: auto;
}
