.AbstractSyntax {
  display: grid;
  grid-template-columns: [begin] 2em [sep] 2em [math] auto [text] auto [end];
}

.AbstractSyntax__Name,
.AbstractSyntax__Space {
  grid-column: begin / end;
}

.AbstractSyntax__Sep {
  grid-column: sep / math;
}
.AbstractSyntax__Math {
  grid-column: math / text;
}
.AbstractSyntax__Text {
  grid-column: text / end;
}
