.Grammar {
  display: grid;
  grid-template-columns: [begin] 2em [sep] 2em [prod] auto [end];
}

.Grammar__Name,
.Grammar__Space {
  grid-column: begin/end;
}

.Grammar__Sep {
  grid-column: sep/prod;
}

.Grammar__Prod {
  grid-column: prod/end;
}
